* {
    margin: 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#boards {
    /* height: 50vh; */
    display: flex;
    flex-direction: row;
}

#board1,
#board2 {
    height: 500px;
    width: 500px;

    display: flex;
    flex-wrap: wrap;

    border: 10px solid #003566;

    padding: 30px;
    background-color: #A8D5E2;

    border-radius: 20px;

}



/* Existing styles remain the same */

.cellBoard {
    height: 50px;
    width: 50px;

    color: white;
    background-color: #003049;
    border: solid 1px #A8D5E2;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-weight: bolder;
    position: relative;

    border-radius: 20px;
}

.cellCover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0057a7;
    /* Semi-transparent gray */
    opacity: 1;
    /* Start visible */
    transition: opacity 0.5s;

    border-radius: 8px;
}

/* Add this to hide the cover when cell is revealed */
.cellCover.revealed {
    opacity: 0;
    border-radius: 0px;
}

.cellBoard.revealed {
    opacity: 1;
}

.cellDisplay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #A8D5E2;
    opacity: 1;

    border-radius: 10px;
}

#turnBox {
    height: 50px;
    width: 40vw;

    background-color: lightcoral;
}

.coordsInput {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* height: 50px;
    width: 40vw; */

}

.attackInput {
    display: flex;
    background-color: cyan;
    align-items: center;
    justify-content: space-around;
}

.lower {
    height: 20vh;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.legend {
    height: 100px;
    width: 100px;

    background-color: grey;
}

.rules {
    height: 100px;
    width: 100px;

    background-color: #A8D5E2;
}